<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List of employees</h3>
    </div>    
    <div class="panel-body">
        <div class="pull-right">
            <a class="btn btn-success btn-sm" data-bind="attr: { href: '#employee/add' }">Add</a>
            <button type="button" class="btn btn-info btn-sm" data-bind="click: refresh">Refresh</button>
        </div>        
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-striped">
                <thead>
                    <tr>
                        <th>&num;</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody data-bind="visible: Employees().length > 0, foreach: Employees">
                    <tr>
                        <td data-bind="text: $index()+1"></td>
                        <td data-bind="text: FullName"></td>
                        <td data-bind="text: EmployeePositions().length > 0 ? ActiveEmployeePosition().Position().Name : ''"></td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm" data-bind="click: $parent.edit">Edit</button>
                            <button type="button" class="btn btn-danger btn-sm" data-bind="click: $parent.remove">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>